.btn-flat {
  width: 24px;
  height: 24px;
  background: none;
  border-radius: 0;
  display: flex;
  place-items: center;
  padding: 2px;
  path {
    fill: var(--text);
  }
  &:hover {
    background-color: var(--bg-lvl-01);
    path {
      fill: var(--accent);
    }
  }
  &[id="clearInput"]:hover {
    cursor: pointer;
    path {
      fill: var(--delete);
    }
  }
}

button {
  background-color: var(--surface);
  // justify-content: center;
  // align-content: center;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  &:disabled {
    background-color: var(--bg-lvl-01);
    cursor: not-allowed;
  }
  &:not([disabled]):not(.btn-flat):not(.download-button) {
    &:hover {
      @include hover;
    } 
  }
}

.download-button {
  padding: 22px;
  color: var(--download-btn-txt-active);
  background-color: transparent;
  &:disabled {
    color: var(--text);
    background-color: transparent;
  }
}

#toggleBarItem {
  cursor: row-resize;
}