.btn-flat {
  width: 24px;
  height: 24px;
  background: none;
  border-radius: 0;
  path {
    fill: var(--text);
  }
  &:hover {
    background-color: var(--surface);
    path {
      fill: var(--warning-01);
    }
  }
}

button {
  background-color: var(--bg-03);
  // justify-content: center;
  // align-content: center;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  &:disabled {
    opacity: 0.5;
  }
  &:hover {
    @include hover;
  }
}

.download-button {
  padding: 22px;
}