@use "sass:math";

@mixin border {
  border: 1px solid var(--border);
}

@mixin button-primary {
  height: 38px;
}

@mixin button-disabled {
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: none;
  border-bottom: none;
  &:hover {
    color: var(--text);
    cursor: not-allowed;
  }
}

@mixin background {
  background-color: var(--bg-02);
  border-radius: var(--radius-m);
}