* {
  &:focus {
    outline: none;
  }
}

body {
  @include font-body;
  background-color: var(--bg-lvl-01);
  padding: 20px;
  position: relative;
  accent-color: var(--accent);
  overflow: hidden; // used to hide the scroll bar that temporarily appears when toggling the options
}

body, button, input {
  color: var(--text);
  font-size: var(--fs-body);
}

button, input, input:focus, input:active {
  border: none;
}

main {
  padding: 24px 48px 0 48px;
}

h2 {
  margin-bottom: 8px;
}

h3 {
  font-weight: bold;
  margin-bottom: 32px;
}

h4 {
  margin: 0 0 16px 0;
  font-size: var(--fs-conditional);
}

h2, h4 {
  color: var(--secondary);
}

h2, h3 {
  text-transform: uppercase;
}

select {
  color: var(--accent);
  background: none;
  // background-color: var(--surface);
  border: 1px solid var(--border);
  border-radius: var(--radius-s);
  padding: 4px 12px;
  &:hover {
    @include hover;
  }
}

a {
  color: var(--text);
  text-decoration: none;
  cursor: alias;
}