@import "./styles/variables";
@import "./styles/fonts";
@import "./styles/patterns";
@import "./styles/states";
@import "./styles/animations";
@import "./styles/tags";
@import "./styles/sections";
@import "./styles/sections/controls";
@import "./styles/sections/intro";
@import "./styles/sections/name";
@import "./styles/sections/download";
@import "./styles/sections/input";
@import "./styles/notification";

// [class$="-area"] {
//   margin-bottom: 32px;
//   &:last-child {
//     margin-bottom: 0;
//   }
// }

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--text);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

.terminal-decoration {
  margin-right: 20px;
  width: 16px;
}

/* === INTRO START === */
.inset-box {
  width: 16px;
  margin-right: 20px;
}

.intro {
  color: var(--secondary);
  @include font-display;
  li {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  li,
  span {
    display: flex;
    align-items: center;
  }
}
/* === INTRO END === */

.banner {
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-01);
  a {
    color: var(--surface);
    width: 100%;
    text-align: center;
  }
}


/* === CHIPS START === */
.chips {
  list-style: none;
  li {
    @include border();
    display: inline-block;
    padding: 8px 12px;
    margin-right: 8px;
    text-align: center;
    border-radius: var(--radius-s);
    // background-color: var(--surface);
    // @for $i from 0 to 4 {
    //   &:nth-child(#{$i}) {
    //     animation: interactiveBackground 4s random($limit: 5)+s infinite;
    //   }
    // }

    &:hover {
      @include hover;
    }

    &:last-child {
      // animation: interactiveBackground 4s random($limit: 5)+s infinite;
      margin-right: 0;
    }
  }
}
/* === CHIPS END === */

/* === TOGGLE START === */
.frame-size-option {
  // display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  height: 24px;
  margin: 0 16px 0 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  @include border();
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: var(--surface);
  background: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--accent);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--surface);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* === TOGGLE END === */

/* === FAKE CURSOR STUFF START === */
#text-length-helper {
  position: absolute;
  width: auto;
  z-index: -1;
  top: 0;
  left: 0;
  visibility: hidden;
}

#cursor {
  display: none;
  width: 16px;
  height: 32px;
  background-color: var(--text);
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: blink 1s step-end infinite;
}
/* === FAKE CURSOR STUFF END === */


/* === EXPAND/COLLAPSE START === */

#expanded {
  display: none;
}

#toggleBarItem {
  position: absolute;
  top: 20px;
  right: 16px;
  cursor: context-menu;
}

/* === EXPAND/COLLAPSE END === */