@import './styles/variables';
@import './styles/fonts';
@import './styles/states.scss';
@import './styles/animations.scss';
@import './styles/tags';
@import './styles/sections.scss';

[class$="-area"] {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
}

.options-area {
  > div {
    margin: 0 0 8px 0;
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
  }
  label {
    color: var(--secondary);
    width: 160px;
    display: flex;
    align-items: center;
  }
}

/* === CHIPS START === */
.chips {
  list-style: none;
}

.chips {
  li {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 8px;
    text-align: center;
    border-radius: 18px;
    background-color: var(--surface);
    // @for $i from 0 to 4 {
    //   &:nth-child(#{$i}) {
    //     animation: interactiveBackground 4s random($limit: 5)+s infinite;
    //   }
    // }

    &:hover {
      @include hover;
    }

    &:last-child {
      // animation: interactiveBackground 4s random($limit: 5)+s infinite;
      margin-right: 0;
    }
  }
}
/* === CHIPS END === */

/* === TOGGLE START === */
.frame-size-option {
  display: flex;
  align-items: center;
  .switch {
    opacity: 1;
    width: 60px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  height: 24px;
  margin: 0 16px 0 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--surface);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--text);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--surface);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* === TOGGLE END === */

/* === FAKE CURSOR STUFF START === */
#text-length-helper {
  position: absolute;
  width: auto;
  z-index: -1;
  top: 0;
  left: 0;
  visibility: hidden;
}

#cursor {
  display: none;
  width: 16px;
  height: 32px;
  background-color: var(--text);
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: blink 1s step-end infinite;
}
/* === FAKE CURSOR STUFF END === */